/* top navbar styling */
.topnav {
    display: flex;
    justify-content: space-between;
    
}
/* left nav div */
#navleft {
    display: flex;

}
/* individual left nav links */
.fleft {
    padding-left: 5px;
    padding-right: 5px;
}

#navright {
    display: flex;
}

.fright {
    padding-left: 5px;
    padding-right: 5px;
}

/* Image styling */
.container-1 {
    /* apply justify contents-align items on parent element here  */
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    margin: 0 auto;
    
}

/* input styling */
.input {
    display: flex;
    justify-content: center;
}

#inputbox {
    width: 70%;
    /* Rounded input styling */
    border-radius: 25px;
    border: 1px solid lightgrey;
    padding: 20px; 
    width: 70%;
    height: 1px;  
}

/* buttons styling */
.buttonflex {
    display: flex;
    justify-content: center;
}

.buttongroup {
    padding-top: 2%;

}

/* footer styling */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.footleft {

}

.footright {

}

body {
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}
